*{
  margin:0;
  padding: 0;
}

.logo{
  z-index: 5;
  padding:25px;
  margin-left:calc(2vh + 5px);
  background:url("logo.jpeg");
  background-repeat: no-repeat;
  float:top;
  background-size: cover;
  box-sizing: border-box;
  position: fixed;
  width:calc(50px + 3vw);
  height:calc(50px + 3vw);
  top:3%;
  left:0;
  transform: translate(-1vw,-2vh);
  clip-path: circle(50.0% at 50% 50%);
}

body{
/*   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  background:#010101;
  /* 220e24  */
}

:root{
  --maincolor:#f9ca24;
}

html::-webkit-scrollbar{
  width:1rem;
}

html::-webkit-scrollbar-track{
  background:#080708;
}

html::-webkit-scrollbar-thumb{
  background:var(--maincolor);
}

  /* navigation bar */

.navbar{
  transform: scale(1.01);
  background: transparent;
}
.nav-link{
  color:white !important;
  border-radius: 9px;
}
.navbar-toggler{
  background:white !important;
}
.active{
  background: var(--bs-yellow);
  color: black !important;
}
.nav-link:hover , .nav-link:focus, .nav-link:active{
  background: var(--bs-yellow);
  color: black !important;
}

.navi{
  z-index: 4;
}

.homepage{
  display:grid;
width:100%;
overflow-x: hidden;
}



/* navigation bar end */


.borderup{
  background: transparent;
  padding: 10px;
  border-radius: 25px;
  border-bottom: 2px rgb(107, 107, 107) solid;
  width: 63vw;
  position: relative;
  left: 17vw;
}
.borderdown{
  background: transparent;
  padding: 10px;
  border-radius: 25px;
  border-top: 2px rgb(92, 92, 92) solid;
  width: 63vw;
  position: relative;
  left: 17vw;
}

.main-heading{
  font-family:'Josefin Slab', serif;
  color:white;
  text-align: center;
  text-transform: uppercase;
}

.border{
  border: 1px solid #ffc107 !important;
  padding: 10px 40px;
  margin-top: 112px;
}

.team-heading{
  margin: 30px 0;
  text-align: center;
  font-family:'Josefin Slab', serif;
  font-weight: 400;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
}


.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(102, 102, 102,0.1);
  margin: 20px;
  box-shadow: 0 1px 2px 2px #393e46;
  border-radius: 10px;
  justify-content: center;
  align-items:center;
}


.pic{
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid grey;
}

 img{
   position:absolute;
   top:0px;
   left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}

  .content {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    transition: 1s
  }

   .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
  }


   .info h3{
    color:#fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin:35px 0 0px;
    text-transform:capitalize;
  }

   .info h3 span{
    font-size: 12px;
    font-weight: 300;
  }

  .social{
    display: flex;
    margin-right: 40px;
  }
  .social li{
    list-style: none;
    padding: 0 8px;
    right:16px;
    transform: translateY(0px);
    opacity: 0;
    transition: 0.5s;
    transition-delay:calc(0.1s*var(--i));

  }

   .card:hover  li{
    transform: translateY(10px);
    opacity: 1;
  }

  .social li a{
    color: #fff;
  }

.footer{
  background:#080708;
  font-family: 'Josefin Slab', serif;
}

@media only screen and (max-width: 992px) {
  .importantlinks{
    display: flex !important;
    flex-direction: column !important;
  }
}
.importantlinks *{
  font-family: 'Forum', cursive;
  font-size: small;
  color:rgba(133, 132, 132, 0.877);
}
.importantlinks a{
  text-decoration:none;
}
.importantlinks a:hover{
  text-decoration: underline;
  color:rgba(190, 179, 179, 0.877);
 
}

