body{background:#020C19;
    transition: 1s ease-out;
    transition-delay: 570ms;
    font-family: 'Josefin Sans''Architects Daughter', cursive;
width:100vw;
}
/*-----------------BELOW IS PRELOADER-----------------*/

.preloader{
    position: fixed;
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
background: radial-gradient(circle, #020C19 100%,#040C1A 80%, #160B1E 60%, #2C0E29 40%,#400F2F 40%,#511036 48%,#3E0F2F 56%,#290E26 56%,#100C1D 8.32%,#020C17 8.32%);
}
.preloadervideoblock{
    flex-shrink: 20%;
    transform: scale(1);
    padding-left:3vw;
}
.preloadervideo{
    filter: contrast(100%) brightness(100%) ;
width:calc(23vw + 100px);
clip-path: circle(30.0% at 50% 50%);
}
.preloadertext{
text-align: center;
padding-right:9px;
background: rgb(22,11,30);
background: linear-gradient(90deg, rgba(22,11,30,1) 14%, rgba(81,16,54,1) 21%, rgba(255,255,255,1) 49%, rgba(81,16,54,1) 76%, rgba(16,12,29,1) 85%);
  background-size: 200% auto;
  
  color: #160B1E;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation:shine 4s linear infinite;
transform: translateY(2vh);
font-size: calc(10px + 2vh + 2vw);}
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  .endpreloadynev{
    /*transform:translateY(-1000px);*/
    transform:translateY(300px);
    transition: all ease-out 0.3s;
}
.endpreloadypos{
    transform:translateY(-1000px);
    transition: 0.7s;
}
.endpreloadopacity{
    opacity:0;
    transition:1s;
}
  /*-----------------ABOVE WAS PRELOADER-------------------*/